#demo1{
    color: blue;
    font-size: 25px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 20%;
}
#demo2{
    color: rgb(131, 26, 99);
    font-size: 25px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 20%;
}
#demo3{
    color: rgb(18, 77, 12);
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 20%;
}
#demo4{
    color: rgb(214, 58, 19);
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 20%;
}
